body,
h2,
p {
  margin: 0;
  padding: 0;
}

h2,
p {
  padding: 10px;
}

.icone-e-texto {
  display: flex;
  align-items: center;
}

.icone {
  height: 20px;
  width: 20px;
  padding-bottom: 4px;
  margin-right: 10px;
}

header {
  display: flex;
  background-color: mediumvioletred;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  grid-column: 1/-1;
}

footer {
  display: flex;
  background-color: mediumvioletred;
  justify-content: center;
  align-items: center;
  height: 60px;
  grid-column: 1/-1;
}

nav {
  background-color: #f2d0e0;
  padding: 10px 10px 10px 20px;
}

.botao-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px darkgray;
  text-align: center;
}

.imagem-card {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin: 20px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 300px 1fr;
}

   