* {
    margin: 0;
    padding: 0;
   }
  
  .page-flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  header {
    background-color: mediumvioletred;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 8px;
    }
  
    img {
    width: 20px;
  }
  .menu {
    background-color: lightpink;
    width: 250px;
  }
  .bolo {
    display: flex;
    width: 300px;
  
  }

  footer {
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
    align-items: center;
  }