* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
background: #000000;
font: 16px Arial, Helvetica, sans-serif;
}
a {
color: #4b566a;
text-decoration: none;
font-weight: bold;
padding: 5px;

}

#principal {
width: 900px;

}

.fotocapa {
height: 30%;
width: 30%;
border-radius: 200px;
}

#menu {
background: #dfdcdc;
padding: 18px;
text-align: center;
border-radius: 20px;
}

#conteudo {
padding: 10px;
color:#c0c0c0;
}

#rodape {
text-align: center;
color: #c0c0c0;
}

.fotodev {
    width: 50%; 
    
    }
.redes {
text-align: center;
width: 100px; 

}