*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: rgba(102, 238, 109, 0.4);
}
#area-cabecalho{
  background-color: #ad8f8f;
  padding: 15px;
  text-align: center;
  border: 1px solid;
}
#area-logo {
  padding: 10px;
  text-align: center;
}
#area-menu {
  padding: 10px;
  text-align: center; 
}
#area-principal{
  background: white;
  width: 920px;
  margin: 0 auto;
}
h1{
color: #4e4e4e;
font-size: rgb(85, 85, 85);
}

.branco{
  color:white;
}
a{
  text-decoration: none;
}
a:link, a:visited {
  color: #FFF;
  padding: 8px 12px;
}
a:houver{
  color: #f7b600;
  background:#FFF;
}
.texto-modelo{
  padding: 100px;
  text-align: center;
}

.icones{
  width: 20px;
  text-align: center;
}
  .rodape {
  clear: both;
  text-align: center; 
  padding: 15px;
  background: #CCC;
}
h2 {
  text-align: left;
}



