body, h2 {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 20px;
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
}
h2 {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.texto {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  background-color:black;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  grid-column: 1/-1;
}
body>header form{
  margin:25px 80px;
  display:inline-block;
  background-color:black;

}

body>header form input[type=text]{
  padding:8px 50px 8px 20px;
  width:100px;
  font-family:'Open Sans';
  font-size:13px;
  outline:none;
  color: aliceblue;
  border-radius: 1px;
}

.media-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px black;
  text-align: center;
}

.imagem {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1500px 1fr;
}

footer {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 60px;
  grid-column: 1/-1;
} 
p{
  color: red;
  font-size: 2em;
}

@media screen and(min-device-width:320px)and (max-device-width:480){
  .header{
    max-width: 100vw;
}
.footer {
  max-width: 100vw;
  color: red;
}
main{
  grid-template-columns: repeat(4, 1fr);
}
h2 {
  padding: 20px;
  color: red;

}
}