.card_container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5em;
 
}

.card{
    border: 0.01em solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0.5em;
    list-style-type: none;
}
.card_title{
    font-weight: bold;
}

