navbar_container{
    position: absolute;
    width: 17%;
    height: 26%;
    left: 50%;
    top: 50%;
}

.navbar_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D0C5E;
    color: #FFFFFF;
    padding: 1em;
    width: 100%;
    height: 20em;
    top: 3.3em;
}
.text1{
    font-size: 2.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: -0.005em;
    width: 50%;
}

.navbar_title button{
    width: 5em;
    height: 1.8em;
    border-radius: 25%;
}
